/* Site-wide formatting of standard tags */
/* ===================================== */
body {
	background: #0e0e0e;
	font: .8em sans-serif, Arial;
	color: #dddddd;
	border: 0;
	margin: 0;
}

p { margin: 10pt; }

img {
   width: 192px;
  height: auto;
}

h1 {
	color: #f5ffb7;
	font-size: 1.7em;
}

h2 {
	color: #afab6c;
	font-size: 1.4em;
}

table {	font-size: 1em; }

select { color: #a79b9b; }



input {
	border-radius: 12px 12px 12px 12px;
        border: 1px solid #656262;
        background: #2727279f;
	
        color: #bcb9b9;
		margin:1px;
}
input[type='radio']{
	opacity:0.9;
}

input[type='radio']:after{
	 width: 14px;
        height: 14px;
		left:-1px;
		top: -1px;
        border-radius: 15px;
        position: relative;
        background-color: #272727;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 1px solid #656262;
}
input[type='radio']:checked:after{
	width: 14px;
        height: 14px;
		left:-1px;
		top: -1px;
        border-radius: 15px;
        position: relative;
        background-color: #96ad63;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 1px solid #656262;
}
label{
	color: #bcb9b9;
}

input:hover {
	    border: 2px solid #80781c;
        color: #cef181;
        background: #2727279f;
		margin:0px;
}

input[type='radio']:hover {
	    border: 2px solid #80781c;
        color: #cef181;
        background: #2727279f;
		margin:1px;
}

em {
        font-weight: bold;
        color: #97966d;
}

dt { font-weight: bold; }

a img, a:link, a:hover { border: none; }

a:link {
        text-decoration: none;
        color: #7290bc;
        border-bottom: none 1px #7290bc;
}

a:visited {
        text-decoration: none;
        color: #765faf;
        border-bottom: groove 1px navy;
}

a:hover {
        text-decoration: none;
        color: #a2c5f2;
		font-weight: bold;
}

hr {
  background: #eee;
  height: 1px;
}


/* Header: logo, top menu and search     */
/* ===================================== */

#banner {
        height: 47px;
}

#banner img {
        position: absolute;
        left: 10px;
        top: 10px;
        border: none;
}

#search {
        position: absolute;
		right: 20px;
        top: 0px;
        margin: 5pt 0 5pt 0;
}

div.navbar {
        position: absolute;
        top: 90px;
        border: 0;
        margin: 0;
        width: 100%;
        padding: 0;

        text-align: center;
        border-top: ridge 3px #4946389f;
}

#menu {
  list-style-type: none;
  padding: 0;
  margin: auto;
  text-align: center;
	
}

#menu li {
  display: inline;
  padding: 0;
  margin: 0;
  text-align: center;
	
	
}

#menu a {
  display: inline-block;
  padding: 5px 0px;
	width:15%;
  padding-left: auto;
	padding-right: auto;
	margin:0;


  border-bottom: none;
  text-decoration: none;
	background: #2322229f;
	border-radius: 2px 2px 10px 10px;
  border: 1px solid #0a0a0a9f;
	border-top: 0px;
	
}

#lfsactive:link, #lfsactive:visited, #alfsactive:link, #alfsactive:visited, #blfsactive:link, #blfsactive:visited, #hlfsactive:link, #hlfsactive:visited, #hintsactive:link, #hintsactive:visited, #livecdactive:link, #livecdactive:visited, #patchesactive:link, #patchesactive:visited {
  color: white;
  font-weight: bold;
	font-size: 1.4em;
}

#lfs:link, #lfs:visited, #blfs:link, #blfs:visited, #alfs:link, #alfs:visited, #clfs:link, #clfs:visited, #hlfs:link, #hlfs:visited, #hints:link, #hints:visited, #livecd:link, #livecd:visited, #patches:link, #patches:visited {
  font-weight: bold;
  color: #c0c4769f;
	font-size: 1.4em;
}

#lfs:hover, #lfsactive:hover, #alfs:hover, #alfsactive:hover, #blfs:hover, #blfsactive:hover, #clfs:hover, #hlfs:hover, #hlfsactive:hover, #hints:hover, #hintsactive:hover, #livecd:hover, #livecdactive:hover, #patches:hover, #patchesactive:hover { 
	background-color: #2727279f;
	color: #c4d393f0;
	border-radius: 2px 2px 10px 10px;
   border: 1px solid #80781c82;
	border-bottom: 3px ridge #80781c82;
	border-top:0px;

}


/* Project specfic left-hand menus       */
/* ===================================== */

#leftmenu ul {
  text-align: left;
  font-weight: bold;
  list-style-type: none;
  position: absolute;
  left: 0px;
  top: 145px;
  padding: 0;
  margin: 0;
}

#leftmenu li {
  margin: 0px;
	background: #2322229f;
	border-radius: 2px 12px 12px 10px;
  border: 1px solid #0a0a0a9f;
}

#leftmenu a {
  text-decoration: none;
  border: none;
  display: block;
  margin: 1px 0px;
  padding: 7px 15px;
  color: #b5b99d9f;
}

#leftmenulist a:hover {
  border-style: ridge;
  background: #2727279f;
  border-radius: 2px 12px 12px 10px;
  border: 1px solid #80781c;
  color: #cef181;
	padding: 7px 16px;
	margin:0px 0px;
}

#lfsmenulist a:hover {
	border-style: ridge;
  background: #2727279f;
	border-radius: 2px 12px 12px 10px;
  border: 1px solid #80781c;
  color: #cef181;
}

#alfsmenulist a:hover {
  border-style: ridge;
  background: #2727279f;
	border-radius: 2px 12px 12px 10px;
  border: 1px solid #80781c;
  color: #cef181;
}

#blfsmenulist a:hover {
  border-style: ridge;
  background: #2727279f;
	border-radius: 2px 12px 12px 10px;
  border: 1px solid #80781c;
  color: #cef181;
}

#hlfsmenulist a:hover {
  border-style: ridge;
  background: #2727279f;
	border-radius: 2px 12px 12px 10px;
  border: 1px solid #80781c;
  color: #cef181;
}

#hintsmenulist a:hover {
border-style: ridge;
  background: #2727279f;
	border-radius: 2px 12px 12px 10px;
  border: 1px solid #80781c;
  color: #cef181;
}

#livecdmenulist a:hover {
 border-style: ridge;
  background: #2727279f;
	border-radius: 2px 12px 12px 10px;
  border: 1px solid #80781c;
  color: #cef181;
}

#patchesmenulist a:hover {
  border-style: ridge;
  background: #2727279f;
	border-radius: 2px 12px 12px 10px;
  border: 1px solid #80781c;
  color: #cef181;
}

#lfsactive:link, #lfsactive:visited {
  background: #2727279f;
}
#alfsactive:link, #alfsactive:visited {
  background: #2727279f;
}
#blfsactive:link, #blfsactive:visited {
  background: #2727279f;
}
#hlfsactive:link, #hlfsactive:visited {
  background: #2727279f;
}
#hintsactive:link, #hintsactive:visited {
  background: #2727279f;
}
#livecdactive:link, #livecdactive:visited {
  background: #2727279f;
}
#patchesactive:link, #patchesactive:visited {
  background: #2727279f;
}


/* Google AdSense                        */
/* ===================================== */

#adsense {
        position: absolute;
        right: 0;
        top: 118px;
        padding: 15px 0px 15px 10px;
        border-left: 1px solid #fff;
	z-index: 1;
}


/* Special formatting for News lists     */
/* ===================================== */

.newsItem {
	padding-bottom: 5pt;
	border-bottom: 1px dotted #0c0470;
}

.newsItem p { margin: 10pt 0 10pt 0; }


/* Special formatting for /index.html    */
/* ===================================== */

#subs {
  list-style-type: none;
}

#subs li {
  margin-top: 10px;
  margin-bottom: 10px;
}


/* Main page content & footer            */
/* ===================================== */

div.main {
	position: absolute;
	top: 140px;
	left: 150px;
	padding-right: 180px;
}

#footer {	
	border-top: 1px solid #888;
	margin-top: 10px;
}

#footer p {
	color: #888;
	font-size: .8em;
}


/* Commands & notes                      */
/* ===================================== */

.cmd { 
       font      : 1.1em monospace; 
       background: #eee; 
       padding   : 5pt 0; 
       margin    : 0 10pt; 
       border    : 1px dashed #0c0470;
     }
.cmd p { margin: 10pt 15pt; }

.note { 
        background: #eee;
        border    : dashed 1px red;
        padding   : 3pt;
        margin    : 0 10pt;
}

